body{
	margin: 0px;
}

button{
	width: 150px;
	height: 30px;
	margin-top: 20px;
	margin-left: 20px;
}
.mainWrap{
	width: 768px;
	height: 1024px;
	background: url('/images/empty.gif') no-repeat;
	background-size: 100% 100%;
}